<html>
    <head>
        
    </head>
    
    <body  background="static/image/slide2.jpeg" >
        <br>
        <br>
        <h1><center>Purpose of Personal Expense Tracker</center></h1>
        <br><br>
        <p><center><italic>
            <center>Tracking your spending is often the first step in getting your finances in order. By understanding what you spend money on and how much you spend, you can see exactly where your cash is going and areas where you can cut back.</center><br>

            <center>It’s easy to make this part of your everyday routine thanks to expense tracker apps that help you manage your money on the go. These apps certainly overlap with budgeting apps, but while the latter provides a big-picture view of your finances, expense tracker apps put more of an emphasis on your spending. These apps usually categorize your expenses and help you get a good idea of your purchasing behavior.</center><br>
            
            <center>Whether you want an expense tracker app that easily captures all your transaction data, one that automates the expense reporting process at your job or one that holds you accountable by requiring you to manually input each one of your transactions, there’s an app out there for you.</center><br>
            
            
       </italic></center></p>
       <p><center><italic> <h3>
        In simple words, personal finance entails all the financial decisions and activities that a Finance app makes your life 
        easier by helping you to manage your finances efficiently. A personal finance app will not only help you with budgeting and 
        accounting but also give you helpful insights about money management.Personal finance applications will ask users to add 
        their expenses and based on their expenses wallet balance will be updated which will be visible to the user.  
        Also, users can get an analysis of their expenditure in graphical forms. They have an option to set a limit for the amount 
        to be used for that particular month if the limit is exceeded the user will be notified with an email alert.
       <br><br><br>
       <p><h1><center>Sign In !!! *Manage expense wisely*</center></h1></p>
       <p><h1><center>Tips on money management</center></h1><a href="https://www.adityabirlacapital.com/abc-of-money/tips-to-track-your-expense">Click Here</a></p>
       <p><h1><center>for more information please contact</center><a href="">expensetracker@gmail.com</a></h1></p>
    </body>


</html>